<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de personas</title>
</head>

<body>
    <h1>Listado de personas</h1>
    <table border="1px" style="border-collapse: collapse">
        <tr>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Ciudad</th>
            <th>Profesion</th>
        </tr>
        {% for persona in listaPersonas %}
        <tr>
            <td>{{persona.nombre}}</td>
            <td>{{persona.edad}}</td>
            <td>{{persona.ciudad}}</td>
            <td>{{persona.profesion}}</td>
            
        </tr>
        {% endfor %}
    </table>
</body>

</html>